<!DOCTYPE html>
<html>
  <head>
    <title>TodoSample</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <!-- app/javascript/packs/のなかのmain.jsファイルを引っ張ってくる -->
    <!-- ファイル名の指定をしているから、拡張子は省略できる？？？ -->
    <%= javascript_pack_tag 'main' %>
    <!-- Bootstrap用に新たに追加 -->
    <!-- app/stylesheet/packs/のなかのmain.cssファイルを引っ張ってくる -->
    <!-- ただし、そんなファイルは存在していない... -->
    <%= stylesheet_pack_tag 'main' %>
  </body>
</html>
